* {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

.title {
    color: #999;
    text-transform: uppercase;
    margin: 30px;
}

.active img {
    background: rgb(89, 224, 48);
}

img.carts {
    max-width: 160px;
}

img.cart {
    max-width: 145px;
}